@font-face {
	font-family: 'Inter Semi Bold';
	src: url('../fonts/inter_semi_bold.eot'); /* IE 9 Compatibility Mode */
	src: url('../fonts/inter_semi_bold.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('../fonts/inter_semi_bold.woff2') format('woff2'), /* Super Modern Browsers */
		url('../fonts/inter_semi_bold.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('../fonts/inter_semi_bold.ttf') format('truetype'), /* Safari, Android, iOS */
		url('../fonts/inter_semi_bold.svg#inter_semi_bold') format('svg'); /* Chrome < 4, Legacy iOS */
}